_pycache_
tools/__pycache__
tools/*.pyc
output_kq3/
output*/messages_split
kq*_clean
kq*_work
kq*_gog
*.patch
*.EXTENDED
client_secret.json
credentials.json
*.zip
token.json
kq1.xlsx
quick_sync.bat
sync_scummvm_fork.bat
*/*.exe
